/Nabla Looper/Arranged Mode/Nabla Looper Arranged Items (Clear).dat
/Nabla Looper/Arranged Mode/Nabla Looper Arranged Items (Rename).dat
/Nabla Looper/Arranged Mode/Nabla Looper Arranged Items (Toggle Record Mute).dat
/Nabla Looper/Arranged Mode/Nabla Looper Arranged Items (Toggle Monitor).dat
/Nabla Looper/Arranged Mode/Nabla Looper Arranged Items (Toggle Record).dat
/Nabla Looper/Arranged Mode/Nabla Looper Arranged Mode.dat
/Nabla Looper/Arranged Mode/Nabla Looper Arranged Settings.dat
/Nabla Looper/Arranged Mode/Nabla Looper Arranged Takes (Delete Take - Item under mouse).dat
/Nabla Looper/Arranged Mode/Nabla Looper Arranged Takes (Delete Take - Selected item).dat
/Nabla Looper/Arranged Mode/Nabla Looper Arranged Takes (Delete Take no prompting - Item under mouse).dat
/Nabla Looper/Arranged Mode/Nabla Looper Arranged Takes (Delete Take no prompting - Selected item).dat
/Nabla Looper/Arranged Mode/Nabla Looper Arranged Takes (Switch Take - Item under mouse).dat
/Nabla Looper/Arranged Mode/Nabla Looper Arranged Takes (Switch Take - Selected item).dat
/Nabla Looper/Manual Mode/Nabla Looper Manual Keyboard Shortcut (Action List).dat
/Nabla Looper/Manual Mode/Nabla Looper Manual Keyboard Shortcut (Nabla Looper).dat
/Nabla Looper/Manual Mode/Nabla Looper Manual Mode.dat
/Nabla Looper/Manual Mode/Nabla Looper Manual Settings.dat
/Nabla Looper/Manual Mode/Nabla Looper Manual Take (Discard_Delete).dat
/Nabla Looper/Manual Mode/Nabla Looper Manual Take (Start_Stop Recording).dat
/Nabla Looper/Manual Mode/Nabla Looper Manual Trigger Actions.dat
